.headings{
    font-size:30px;
    font-weight:600;
    margin-left: 70px;
    margin-top: 40px;
}



@media screen and (max-width:600px) {
    .headings{
        text-align:center;
        margin-left: 0px;
    }
    
}
