

@media screen and (max-width: 1200px) {
    .paymentMAin{
grid-template-columns: 50% 50% !important;
    }
  }


  @media screen and (max-width: 1000px) {
    .paymentMAin{
grid-template-columns: 50% 50% !important;
padding: 100px 50px !important;
    }
 
  }
  @media screen and (max-width: 900px) {

    .paymentMAin{ 
        padding: 70px 40px !important;
            }
 

.inputsizeasdf{
     font-size: 15px !important  ;
  
    }



  }
  @media screen and (max-width: 790px) {

    .paymentMAin{ 
        padding: 40px 20px !important;
            }
            .inputdftdg{
                width: 100% !important;
                flex-direction: column !important;
            }
        

.inputsizeasdf{
     font-size: 15px !important  ;
  
    }



  }
  @media screen and (max-width: 760px) {
    .paymentMAin{
        grid-template-columns: 100% !important; 
        padding: 20px 10px !important;  
   
    }


.productdetailsvstak{
    width: 100% !important;
    padding: 5px !important;
}
      }

